@font-face {
    font-family: "trebuchet_regular";
    src: url("fonts/trebuchet_regular.ttf");
}

@font-face {
    font-family: "trebuchet_bold";
    src: url("fonts/trebuchet_bold.ttf");
}

@font-face {
    font-family: "open_sans_semibold";
    src: url(fonts/open_sans_semibold.ttf);
}

@font-face {
    font-family: "calibri_bold";
    src: url(fonts/calibrib.ttf);
}

@font-face {
    font-family: "futura_book";
    src: url(fonts/futura_book_opentype.otf);
}

@font-face {
    font-family: "futura_bold";
    src: url(fonts/futura_bold_opentype.otf);
}

.h1_header_offers {
    padding-top: 70px;
    font-size: 30px;
    color: #41525c;
    font-family: "trebuchet_bold";
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 56px;
}

.value {
    position: relative;
    height: 460px;
    width: 288px;
    border: 3.5px solid #ee8129;
    border-radius: 7px;
    box-shadow: 0px 0px 8px 1px #cbe2ef;
    display: inline-block;
}

.value.best {
    z-index: 1;
    margin-left: -5px;
}

.val_header {
    height: 73px;
    width: 288px;
    background: #ee8129;
    line-height: 73px;
    text-align: center;
}

.h2_header {
    margin: 0;
    color: #FFF;
    text-transform: uppercase;
    font-family: "futura_bold";
    font-size: 24px;
}

.inf_price {
    height: 163px;
    width: 288px;
    text-align: center;
}

.h2_inf_price {
    padding-top: 22.5px;
    margin: 0;
    text-transform: uppercase;
    font-family: "futura_book";
    font-size: 24px;
    color: #3f4042;
}

.p_inf_price {
    color: #35495a;
    margin: 0;
    padding-top: 5px;
}

._25_inf_price {
    font-family: "futura_bold";
    font-size: 72px;
}

._doll_inf_price {
    font-family: "futura_bold";
    font-size: 22px;
    vertical-align: top;
}

.month_inf_price {
    font-family: "futura_book";
    font-size: 18px;
    vertical-align: bottom;
}

.bottom {
    height: 225px;
    width: 288px;
}

.list {
    margin: 0 auto;
    padding: 0;
    width: 259px;
}

.list li {
    list-style-type: none;
    height: 33px;
    width: 225.5px;
    line-height: 33px;
    font-family: "calibri_bold";
    font-size: 15px;
    color: #888c94;
    padding-left: 33.5px;
}

.list li::before {
    content: url(img/marker.png);
    padding-right: 20px;
}

.list li:nth-child(odd) {
    background: #edf5fd;
}

.list li:nth-child(even) {
    background: #f5f5f6;
}

.list li:nth-child(n+2) {
    margin-top: 1px;
}

.forbutton {
    height: 38.5px;
    width: 251.5px;
    margin: auto;
    margin-top: 17.5px;
}

.but {
    height: 38.5px;
    width: 251.5px;
    background: #ee8129;
    border-radius: 5px;
    border: none;
    padding: 0;
    font-family: "open_sans_semibold";
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0px 3px rgb(179, 86, 11);
    outline: none;
}

.but:active {
    box-shadow: none;
    position: relative;
    top: 3px;
    background: rgb(179, 86, 11);
    color: #D3D3D3;
}

.other_but {
    height: 38.5px;
    width: 251.5px;
    background: #3371a6;
    border-radius: 5px;
    border: none;
    padding: 0;
    font-family: "open_sans_semibold";
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0px 3px rgb(19, 66, 107);
    outline: none;
}

.other_but:active {
    box-shadow: none;
    position: relative;
    top: 3px;
    background: rgb(19, 66, 107);
    color: #D3D3D3;
}

.other_but,
.but:hover {
    cursor: pointer;
}

.value.standart {
    margin-left: 84px;
}

.value.ultimate {
    margin-left: -5px;
}

.value.ultimate,
.value.standart {
    border: 1px solid #e8eaec;
    box-shadow: none;
    margin-top: 11px;
    height: 441px;
}

.val_header.standart {
    background: #37c2d3;
}

.val_header.ultimate {
    background: #1cb79a;
}

.val_header.standart,
.val_header.ultimate {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    height: 64px;
}

.bottom.ultimate,
.bottom.standart {
    height: 214px;
}

.main_offers {
    width: 1023px;
    height: 704px;
    margin: auto;
}
