.search {
    width: 544px;
    height: 62px;
    background: #ffcc66;
    transition: all 1.5s;
}

input.text {
    margin: 5px 0 0 5px;
    width: 454px;
    height: 24px;
    box-shadow: 0px 0px 3px 0px #c6c6c6 inset;
    border: 1px solid #c6c6c6;
    outline: none;
    transition: all 1.5s;
}

.submit {
    width: 67px;
    height: 26px;
    display: block;
    position: relative;
    margin-left: 466px;
    margin-top: -27px;
    transition: all 1.5s;
}

input.checkbox {
    margin-top: 7px;
}

label {
    position: absolute;
    margin-top: 4px;
    font-family: sans-serif;
    font-size: 14px;
}

.tr {
    z-index: 1;
    margin-top: -62px;
    margin-left: 544px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 31px solid transparent;
    border-left: 12px solid #ffcc66;
    border-bottom: 31px solid transparent;
    transition: all 1.5s;
}

.search:hover {
    width: 668px;
    transition: all 1.5s;
}

.search:hover ~ .tr {
    margin-left: 668px;
    transition: all 1.5s;
}

input.text:hover {
    width: 564px;
}

input.text:hover ~ .submit {
    margin-left: 576px;
}
