h1 {
    color: orange;
    text-align: right;
}
#allotment h2 {
    color: orange;
}
#warehouse h2 {
    color: blue;
}
p:first-letter {
    color: red;
    font-size: 25px;
}
em {
    background-color: green;
    color: white;
    font-weight: bold;
}
ul {
    font-weight: bold;
}
ol {
    font-weight: normal;
}
.vegetables-list {
    color: red;
}
#allotment .fruits-list {
    color: gray;
}
#warehouse .fruits-list {
    color: green;
}
thead {
    font-weight: bold;
    text-align: center;
}
tbody {
    color: white;
    font-weight: bold;
    background-color: green;
    text-align: center;
}
tbody td:first-child {
    color: orange;
    font-weight: normal;
    text-align: left;
    background-color: white;
}