
div {
    background-color: rgba(234, 234, 234, 0.31);
    width: 600px;
    height: 35px;
    margin: auto;
    box-sizing: border-box;
}
ul li {
    float: left;
    margin: auto;
    padding: 5px 10px 5px 10px;
    list-style-type: none;
    display: block;
}
li a {
    text-decoration: none;
    list-style: none;
    color: #a562f2;
    font-family: Verdana;
    font-size: 12px;
}
.page {
    border: solid #dadada 1px;
    margin: 2px;
    border-radius: 7px;
}
.page:hover, .number:hover {
    background-color: #a562f2;;
    color: white;
}
