@font-face {
    font-family: "universalia";
    src: url("../../fonts/universalia/Universalia.ttf");
}

a[href*=http] {
    color: #f70;
}

a[href*=google] {
    color: gray;
}

a[href*=yandex]::after {
    content: '\2197';
    margin-left: 5px;
    font-family: "universalia";
    font-size: 80%;
    font-weight: bolder;
    border-right: 1px solid;
    border-top: 1px solid;
    display: inline-block;
    height: 10px;
    line-height: 10px;

}
