html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

.ageCalculation {
    background-image: url("images/bg.jpg");
    opacity: 0.5;
    height: 1000px;
}
form {
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 300px;

}
#currentYear,
#yearBorn {
    width: 300px;
    height: 47px;
    font-size: 28px;
    border: solid #4b1313 2px;
    border-radius: 5px;
    text-align: center;
}
#button {
    width: 304px;
    height: 50px;
    font-size: 20px;
    background-color: #d19c64;
    color: #4b1313;
    border: solid #5a1a1a 3px;
    border-radius: 5px;
    margin: 20px 0 20px 0;
}
#button:active {
    background-color: rgb(86, 73, 62);
    color: #ffffff;
    border: none;
}
#ageFirst,
#ageSecond {
    width: 100px;
    background-color: #d19c64;
    font-size: 30px;
    position: relative;
    padding: 5px 20px 5px 20px;
}
#ageFirst,
#ageSecond {
    width: 80px;
}
#or {
    background-color: transparent;
    font-size: 30px;
    border: none;
}
