.search {
    width: 56%;
    height: 55px;
    background-color: #ff7781;
    position: absolute;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    left: 22%;
}
#text {
    width: 82%;
    box-shadow: -1px -1px 1px #a30d2d;
    position: relative;
    float: left;
    margin: 5px 5px 0 5px;
}
#button {
    position: relative;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 12%;
}
.search:after {
    content: "";
    color: white;
    width: 0;
    height: 0;
    border-left: solid #ff7781 12px;
    border-top: solid transparent 26px;
    border-right: solid transparent 12px;
    border-bottom: solid transparent 26px;
    position: absolute;
    left: 100%;
    top: 2px;
}
#checkbox {
    margin: 1px 1px 1px 5px;
}
label {
    margin: 0 5px 10px 5px;
}