a[href="http://ya.ru"], a[href="https://mail.ya.ru"], a[href="http://maps.yandex.ru"]{
	color:#f70;
}

a[href="http://google.com"], a[href="http://maps.google.com"], a[href="http://news.google.com"]{
	color:#666;
}

.outer-link:after {
  content:"\00A0\00A0\21F1";
  display: inline-block;
  transform: rotate(90deg);
}