body {
    width: 900px;
    font-family: "Impact", sans-serif;
    margin: auto;
}

nav {
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    background: #A64DFF;
    height: 40px;
    box-shadow: 0px 0px 17px -7px #000000;
}
ul li {
    list-style-type: none;
}
.main li {
    text-transform: uppercase;
    float: left;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    position: relative;
}

.main li:last-child {
    float: right;
    margin-right: 40px;
}

.main li:hover {
    color: #9C9D9B;
    background: #EEEEEE;
}

.dropdown {
    margin-left: -20px;
    padding-left: 0px;
    position: absolute;
    display: none;
    box-shadow: 0px 0px 17px -7px #000000
}

.dropdown li:last-child {
    margin: 0;
}

li:hover .dropdown {
    display: block;
}

.dropdown li {
    background: #EEEEEE;
    line-height: 25px;
    width: 100px;
    color: #9C9D9B;
}

ul.dropdown li:hover {
    background: #A64DFF;
    color: #fff;
}

.pager {
    margin:  auto;
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    font-size: 80%;
    color: #A64DFF;
    width: 620px;
}

.navi li {
    float: left;
    margin: 0 10px;
    height: 22px;
    line-height: 22px;
}
.numbers li {
    height: 20px;
    width: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
}

.numbers li:active:not([id="none"]) {
    color: #fff;
    background: #A64DFF;
}

#none {
    border: none;
}
