.main-block {
    width:645px;
    height:670px;
    border:1px solid black;
    border-radius:10px;
}
.header {
    width:625px;
    height:100px;
    border:1px solid black;
    border-radius:10px;
    margin-left:10px;
    margin-top:10px;
}
.column {
    width:200px;
    height:200px;
    border:1px solid black;
    border-radius:10px;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}
.footer {
    clear:both;
    width:625px;
    height:100px;
    border:1px solid black;
    border-radius:10px;
    margin-left:10px;
    margin-top:20px;
}