/*GENERAL*/
body {
    background-color: #2e2e2e;
    width: 100%;
    margin: 0;
}
/*Fonts*/
@font-face {
    font-family: Futura BT Book;
    src: url(fonts/ufonts.com_futurabt-book-opentype.otf);
}

@font-face {
    font-family: Calibry Italic;
    src: url(fonts/Calibri%20Italic.ttf);
}

@font-face {
    font-family: "Trebuchet MS";
    src: url(fonts/Trebuchet%20MS%20Bold.ttf);
}
@font-face {
    font-family: MyriadPro;
    src: url(fonts/MyriadPro-Regular.otf);
}
/*Fonts END*/

/*GENERAL END*/


/*Screen 1920x1080*/
/*Header*/
@media (max-width: 1980px) {

header {
    width: 74.19%;
    height: 116px;
    left: 12.71%;
    top: 0;
    margin: 0 auto;
    position: absolute;
    background-color: white;
}
/*Logo*/
.logo {
    position: absolute;
    float: left;
    width: 441px;
    left: 12.71%;
    height: 100%;
    padding: 35px 0 0 30px;
    margin: 0;
    font-family: 'Futura BT Book', sans-serif;
}

.company {
    color: #ee8129;
    font-size: 1.5em;
}

.name {
    color: #3070a8;
    font-size: 1.5em;
    font-weight: bolder;
}

/*Menu*/
nav {
    position: absolute;
    left: 43.95%;
    width: 68.36%;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    font-family: MyriadPro, sans-serif;
    top: 60px;
}

.banner_navigation li {
    display: block;
    background-color: white;
    float: left;.
    margin-top: 70px;
    padding: 0 11px 19px 11px;

}

.banner_navigation li a {
    color: #d6d6d6;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.banner_navigation li a:hover {
    color: #3070a8;
}

.banner_navigation li:hover {
    border-bottom: solid #3070a8 3px;
}

/*Banner*/
.banner {
    width: 74.19%;
    height: 585px;
    left: 12.71%;
    top: 116px;
    margin: 0;
    position: absolute;
    background-size: cover;
    background: url("images/banner.png") no-repeat;
    color: white;
    text-align: center;
}

.banner1 {
    font-family: 'Futura BT Book', sans-serif;
    font-size: 2.25em;
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 100%;
    margin: 145px 0 0 0;
    left: 0;
}

.banner2 {
    font-family: 'Futura BT Book', sans-serif;
    font-size: 2.5em;
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 100%;
    margin: 180px 0 0 0;
    left: 0;
}

.banner3 {
    font-family: Calibry, sans-serif;
    font-style: italic;
    font-size: 1.25em;
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 100%;
    margin: 280px 0 0 0;
    left: 0;
}

.button a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display: inline-block;
    width: 245px;
    height: 41px;
    margin: 380px 0 0 0;
    padding: 22px 0 0 0;
    text-decoration: none;
    outline: solid white 1px;
    color: white;
    position: absolute;
    z-index: 10;
    left: 41.29%;
}
.button a:hover {
    outline: solid #1b3d5d 1px;
    background-color: rgba(255, 255, 255, 0.44);
    color: #1b3d5d;
    font-weight: bold;
}

/*Banner END*/

/*Services*/
.services {
    width: 74.19%;
    height: 566px;
    left: 12.71%;
    top: 701px;
    margin: 0;
    position: absolute;
    background-color: #ffffff;
}

.services_container {
    position: absolute;
    left: 13.65%;
    right: 13.65%;
}

.services_name {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.875em;
    color: #41525c;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 67px 0 0 0;
}

span.services {
    display: inline-block;
}

.services_property {
    width: 33.33%;
    float: left;
    left: 13.65%;
    text-align: center;
    margin: 77px 0 0 0;
}
.property_name {
    font-family: 'Futura BT Book', sans-serif;
    font-size: 1.875em;
    color: #3070a8;
}
.property_description {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    padding: 5px;
    color: #999999;
    display: inline-block;
    width: 300px;
    height: 200px;
}
/*Services END*/

/*Middle section*/
.middle_section {
    width: 74.19%;
    height: 581px;
    left: 12.71%;
    top: 1267px;
    margin: 0;
    position: absolute;
    background-size: cover;
    background: url("images/middle_section.png") no-repeat;
}
.line_big_orange {
    font-family: 'Futura BT Book', sans-serif;
    font-size: 1.625em;
    line-height: 1.846em;
    text-transform: uppercase;
    color: #ee8129;
    margin-top: 87px;
    display: inline-block;
    position: absolute;
    left: 12.71%;
}

.line_italic_white {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 1.1875em;
    line-height: 1.579;
    color: #ffffff;
    margin-top: 175px;
    display: inline-block;
    position: absolute;
    left: 12.71%;
    padding: 0;
}

.line_small_grey1,
.line_small_grey2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    line-height: 2.143;
    color: #9d9d9d;
}

.middle_section_list {
    display: inline-block;
    position: absolute;
    margin-top: 220px;
    height: 300px;
    width: 100%;
    left: 12.71%;
}

.line_small_blue {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
    line-height: 2.143;
    color: #2c5c86;
}

/*Middle section END*/

/*Pricing*/
.pricing {
    width: 74.19%;
    height: 710px;
    left: 12.71%;
    top: 1848px;
    margin: 0;
    position: absolute;
    background-color: white;
}
.pricing_name {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.875em;
    color: #41525c;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 67px 0 0 0;
}
.posters {
    width: 885px;
    height: 350px;
    position: absolute;
    left: 18.82%;
    right: 18.82%;
    top: 172px;
}
.poster_container1,
.poster_container2,
.poster_container3 {
    width: 289px;
    height: 439px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(90, 90, 90, 0.56);
    float: left;
    margin: 10px 1px 10px 1px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.poster_header1 {
    background-color: #63d0e7;
}

.poster_header2 {
    background-color: #ee8129;
}

.poster_header3 {
    background-color: #4ad496;
}

.poster_header1,
.poster_header2,
.poster_header3 {
    font-family: "Trebuchet MS", sans-serif;
    height: 36px;
    border-radius: 6px 6px 0 0;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.poster_body {
    font-family: 'Futura BT Book', sans-serif;
    font-size: 1.5em;
    height: 90px;
    text-align: center;
    padding: 7px 0 0 0;
    color: #6d6d6d;
}

span.price {
    font-size: 3em;
    font-weight: bolder;
}

sup {
    display: inline-block;
    position: absolute;
    font-weight: bold;
}

.poster_body p {
    display: inline-block;
    height: 55px;
    margin: 10px 0 0 0;
    padding: 0;
}

a {
    text-decoration: none;
    list-style-type: none;
}

.poster_menu {
    margin: auto;
    width: 255px;
    padding: 0;
}

.service_list {
    padding-left: 0;
    margin-top: 50px;
}

.service_list li {
    font-family: Calibry, sans-serif;
    display: block;
    font-size: 0.9375em;
    font-weight: bold;
    width: auto;
    height: 31px;
    padding: 5px 0 0 24px;
    margin-top: 1px;
}

.service_listli:before {
    content: url("images/galochka.png");
}

.service_list li:nth-of-type(2n) {
    background: #f5f5f5;
}

.service_list li:nth-of-type(2n+1) {
    background: rgba(204, 228, 250, 0.42);
}

.service_list li a {
    color: #999999;
}

.poster_button1,
.poster_button3 {
    background-color: #407cb3;
    border-bottom: solid #294164 2px;
}

.poster_button2 {
    background-color: #ee6d1a;
    border-bottom: solid #a54e28 2px;
}

.poster_button1,
.poster_button2,
.poster_button3 {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 251px;
    height: 31px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    font-size: 0.875em;
    font-weight: bold;
}

.poster_button1 a,
.poster_button2 a,
.poster_button3 a {
    color: white;
    width: 251px;
    height: 17px;
    display: block;
    padding: 2px 0 5px 0;
}

.poster_container1:hover {
    border: solid #63d0e7 3px;
}

.poster_container2:hover {
    border: solid #e06b1a 3px;

}

.poster_container3:hover {
    border: solid #4ad496 3px;

}

.poster_container1:hover,
.poster_container2:hover,
.poster_container3:hover {
    border-radius: 10px;
    margin: 0;
    width: 295px;
    height: 445px;
    z-index: 10;
}

/*Pricing END*/

/*Clients says*/
.clients_says {
    width: 74.19%;
    height: 312px;
    left: 12.71%;
    top: 2558px;
    margin: 0;
    position: absolute;
    background-color: #2d438e;
}
.poster {
    width: 100%;
    height: 312px;
    background-image: url("images/client_says.png");
    margin: auto;
    position: relative;
    font-family: 'Oswald', sans-serif;
}
.question {
    display: inline-block;
    width: 100%;
    margin: auto;
}
.clients_says p {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'Futura BT Book', sans-serif;
    margin-top: 58px;
}
.orange {
    color: #ff901c;
    font-size: 2.5em;
}
.blue {
    color: #3a699a;
    font-size: 2.5em;
    font-weight: bold;
}
.foto1, .foto2 {
    float: left;
    position: absolute;
    top: 137px;
}
.foto1 {
    left: 13.39%;
}
.foto2 {
    left: 51.17%;
}
.comment1,
.comment2 {
    background-color: aliceblue;
    margin: 0;
    font-size: 0.6875em;
    position: absolute;
    top: 137px;
    width: 25.8%;
    height: 80px;
    padding: 10px;
}
.comment1 {
    left: 21.75%;
}
.comment2 {
    left: 59.5%;
}
.foto1:after,
.foto2:after {
    content: "";
    color: white;
    width: 0;
    height: 0;
    border-right: solid white 14px;
    border-top: solid transparent 10px;
    border-left: solid transparent 4px;
    border-bottom: solid transparent 10px;
    position: absolute;
    margin: 36px 0 0 0;
}
.clients_says_name {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #3070a8;
    font-weight: bold;
    font-size: 0.8125em;
}
.empty {
    color: aliceblue;
    letter-spacing: 8px;
}
.report {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8125em;
    color: #666666;
}
hr {
    border: 0.1em dotted #c2c2c2;
}

/*Clients says END*/

/*Map*/
.map {
    width: 74.19%;
    height: 335px;
    left: 12.71%;
    top: 2870px;
    margin: 0;
    position: absolute;
    background-color: white;
}
.contacts {
    width: 50%;
    height: 335px;
    left: 12.71%;
    position: relative;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666666;
    padding: 35px 0 0 0;
    line-height: 1.875em;
}
.flag {
    display: inline-block;
}
.flag:before {
    content: url("images/flag.png");
    margin: 50px 59px 0 0;
}
.phone:before {
    content: url("images/phone.png");
    margin: 50px 65px 0 0;
}
.mail:before {
    content: url("images/mail.png");
    margin: 50px 65px 0 0;
}
.empty_icon {
    margin-left: 89px;
}
#map-canvas {
    width: 50%;
    height: 335px;
    background-color: #CCC;
    position: relative;
    float: left;
}
.map img {
    margin-right: 23px;
}
/*Map END*/

/*Footer*/
footer {
    width: 74.19%;
    height: 104px;
    left: 12.71%;
    top: 3205px;
    position: absolute;
    background-color: #3070a8;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.footer_normal {
    color: white;
}
span.footer_bold {
    color: white;
    font-weight: 900;
}
.footer_bold_grey {
    font-weight: 900;
    color: #26435d;
}
}
/*Footer END*/
/*--------------------------END Screen 1920x1080----------------------------*/

/*Screen 1366x768*/
@media only screen and (max-width: 1400px) {
    /*Header*/
    html {
        width: 1400px;
    }
    body {
        width: 100%;
    }
    header {
        width: 100%;
        height: 116px;
        top: 0;
        margin: 0 auto;
        left: 0;
        position: absolute;
        background-color: white;
    }
    /*Logo*/
    .logo {
        position: absolute;
        float: left;
        width: 441px;
        height: 100%;
        padding: 35px 0 0 30px;
        margin: 0;
        font-family: 'Futura BT Book', sans-serif;
    }

    .company {
        color: #ee8129;
        font-size: 1.5em;
    }

    .name {
        color: #3070a8;
        font-size: 1.5em;
        font-weight: bolder;
    }

    /*Menu*/
    nav {
        position: absolute;
        left: 43.95%;
        width: 55%;
        padding: 0;
        margin: 0;
        font-size: 0.8em;
        font-family: MyriadPro, sans-serif;
        top: 60px;
    }

    .banner_navigation li {
        display: block;
        background-color: white;
        float: left;.
        margin-top: 70px;
        padding: 0 11px 19px 11px;

    }

    .banner_navigation li a {
        color: #d6d6d6;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
    }

    .banner_navigation li a:hover {
        color: #3070a8;
    }

    .banner_navigation li:hover {
        border-bottom: solid #3070a8 3px;
    }

    /*Banner*/
    .banner {
        width: 100%;
        height: 585px;
        top: 116px;
        left: 0;
        margin: 0;
        position: absolute;
        background-size: cover;
        background: url("images/banner.png") no-repeat;
        color: white;
        text-align: center;
    }

    .banner1 {
        font-family: 'Futura BT Book', sans-serif;
        font-size: 2.25em;
        display: inline-block;
        position: absolute;
        z-index: 10;
        width: 100%;
        margin: 145px 0 0 0;
        left: 0;
    }

    .banner2 {
        font-family: 'Futura BT Book', sans-serif;
        font-size: 2.5em;
        display: inline-block;
        position: absolute;
        z-index: 10;
        width: 100%;
        margin: 180px 0 0 0;
        left: 0;
    }

    .banner3 {
        font-family: Calibry, sans-serif;
        font-style: italic;
        font-size: 1.25em;
        display: inline-block;
        position: absolute;
        z-index: 10;
        width: 100%;
        margin: 280px 0 0 0;
        left: 0;
    }

    .button a {
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        display: inline-block;
        width: 245px;
        height: 41px;
        margin: 380px 0 0 0;
        padding: 22px 0 0 0;
        text-decoration: none;
        outline: solid white 1px;
        color: white;
        position: absolute;
        z-index: 10;
        left: 41.29%;
    }
    .button a:hover {
        outline: solid #1b3d5d 1px;
        background-color: rgba(255, 255, 255, 0.44);
        color: #1b3d5d;
        font-weight: bold;
    }

    /*Banner END*/

    /*Services*/
    .services {
        width: 100%;
        height: 566px;
        top: 701px;
        left: 0;
        margin: 0;
        position: absolute;
        background-color: #ffffff;
    }

    .services_container {
        position: absolute;
        left: 13.65%;
        right: 13.65%;
    }

    .services_name {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 1.875em;
        color: #41525c;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin: 67px 0 0 0;
    }

    span.services {
        display: inline-block;
    }

    .services_property {
        width: 33.33%;
        float: left;
        left: 13.65%;
        text-align: center;
        margin: 77px 0 0 0;
    }
    .property_name {
        font-family: 'Futura BT Book', sans-serif;
        font-size: 1.875em;
        color: #3070a8;
    }
    .property_description {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
        color: #999999;
        display: inline-block;
        width: 200px;
        height: 200px;
    }
    /*Services END*/

    /*Middle section*/
    .middle_section {
        width: 100%;
        height: 581px;
        top: 1267px;
        left: 0;
        margin: 0;
        position: absolute;
        background-size: cover;
        background: url("images/middle_section.png") no-repeat;
    }
    .line_big_orange {
        font-family: 'Futura BT Book', sans-serif;
        font-size: 1.625em;
        line-height: 1.846;
        text-transform: uppercase;
        color: #ee8129;
        margin-top: 87px;
        display: inline-block;
        position: absolute;
        left: 12.71%;
    }

    .line_italic_white {
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 1.1875em;
        line-height: 1.579em;
        color: #ffffff;
        margin-top: 175px;
        display: inline-block;
        position: absolute;
        left: 12.71%;
        padding: 0;
    }

    .line_small_grey1,
    .line_small_grey2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        line-height: 2.143;
        color: #9d9d9d;
    }

    .middle_section_list {
        display: inline-block;
        position: absolute;
        margin-top: 220px;
        height: 300px;
        width: 100%;
        left: 12.71%;
    }

    .line_small_blue {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        line-height: 2.143;
        color: #2c5c86;
    }

    /*Middle section END*/

    /*Pricing*/
    .pricing {
        width: 100%;
        height: 710px;
        top: 1848px;
        left: 0;
        margin: 0;
        position: absolute;
        background-color: white;
    }
    .pricing_name {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 1.875em;
        color: #41525c;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin: 67px 0 0 0;
    }
    .posters {
        width: 885px;
        height: 350px;
        position: absolute;
        margin: 0 auto;
        top: 172px;
    }
    .poster_container1,
    .poster_container2,
    .poster_container3 {
        width: 289px;
        height: 439px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(90, 90, 90, 0.56);
        float: left;
        margin: 10px 1px 10px 1px;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -ms-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
    }

    .poster_header1 {
        background-color: #63d0e7;
    }

    .poster_header2 {
        background-color: #ee8129;
    }

    .poster_header3 {
        background-color: #4ad496;
    }

    .poster_header1,
    .poster_header2,
    .poster_header3 {
        font-family: "Trebuchet MS", sans-serif;
        height: 36px;
        border-radius: 6px 6px 0 0;
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
    }

    .poster_body {
        font-family: 'Futura BT Book', sans-serif;
        font-size: 1.5em;
        height: 90px;
        text-align: center;
        padding: 7px 0 0 0;
        color: #6d6d6d;
    }

    span.price {
        font-size: 3em;
        font-weight: bolder;
    }

    sup {
        display: inline-block;
        position: absolute;
        font-weight: bold;
    }

    .poster_body p {
        display: inline-block;
        height: 55px;
        margin: 10px 0 0 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        list-style-type: none;
    }

    .poster_menu {
        margin: auto;
        width: 255px;
        padding: 0;
    }

    .service_list {
        padding-left: 0;
        margin-top: 50px;
    }

    .service_list li {
        font-family: Calibry, sans-serif;
        display: block;
        font-size: 0.9375em;
        font-weight: bold;
        width: auto;
        height: 31px;
        padding: 5px 0 0 24px;
        margin-top: 1px;
    }

    .service_listli:before {
        content: url("images/galochka.png");
    }

    .service_list li:nth-of-type(2n) {
        background: #f5f5f5;
    }

    .service_list li:nth-of-type(2n+1) {
        background: rgba(204, 228, 250, 0.42);
    }

    .service_list li a {
        color: #999999;
    }

    .poster_button1, .poster_button3 {
        background-color: #407cb3;
        border-bottom: solid #294164 2px;
    }

    .poster_button2 {
        background-color: #ee6d1a;
        border-bottom: solid #a54e28 2px;
    }

    .poster_button1,
    .poster_button2,
    .poster_button3 {
        font-family: 'Open Sans', sans-serif;
        margin: auto;
        width: 251px;
        height: 31px;
        text-align: center;
        padding-top: 5px;
        border-radius: 5px;
        font-size: 0.875em;
        font-weight: bold;
    }

    .poster_button1 a,
    .poster_button2 a,
    .poster_button3 a {
        color: white;
        width: 251px;
        height: 17px;
        display: block;
        padding: 2px 0 5px 0;
    }

    .poster_container1:hover {
        border: solid #63d0e7 3px;
    }

    .poster_container2:hover {
        border: solid #e06b1a 3px;

    }

    .poster_container3:hover {
        border: solid #4ad496 3px;

    }

    .poster_container1:hover,
    .poster_container2:hover,
    .poster_container3:hover {
        border-radius: 10px;
        margin: 0;
        width: 295px;
        height: 445px;
        z-index: 10;
    }

    /*Pricing END*/

    /*Clients says*/
    .clients_says {
        width: 100%;
        height: 312px;
        top: 2558px;
        left: 0;
        margin: 0;
        position: absolute;
        background-color: #2d438e;
    }
    .poster {
        width: 100%;
        height: 312px;
        background-image: url("images/client_says.png");
        margin: auto;
        position: relative;
        font-family: 'Oswald', sans-serif;
    }
    .question {
        display: inline-block;
        width: 100%;
        margin: auto;
    }
    .clients_says p {
        display: block;
        position: relative;
        text-align: center;
        font-family: 'Futura BT Book', sans-serif;
        margin-top: 58px;
    }
    .orange {
        color: #ff901c;
        font-size: 2.5em;
    }
    .blue {
        color: #3a699a;
        font-size: 2.5em;
        font-weight: bold;
    }
    .foto1, .foto2 {
        float: left;
        position: absolute;
        top: 137px;
    }
    .foto1 {
        left: 13.39%;
    }
    .foto2 {
        left: 51.17%;
    }
    .comment1,
    .comment2 {
        background-color: aliceblue;
        margin: 0;
        font-size: 0.6875em;
        position: absolute;
        top: 137px;
        width: 25.8%;
        height: 80px;
        padding: 10px;
    }
    .comment1 {
        left: 21.75%;
    }
    .comment2 {
        left: 59.5%;
    }
    .foto1:after,
    .foto2:after {
        content: "";
        color: white;
        width: 0;
        height: 0;
        border-right: solid white 14px;
        border-top: solid transparent 10px;
        border-left: solid transparent 4px;
        border-bottom: solid transparent 10px;
        position: absolute;
        margin: 36px 0 0 0;
    }
    .clients_says_name {
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        color: #3070a8;
        font-weight: bold;
        font-size: 13px;
    }
    .empty {
        color: aliceblue;
        letter-spacing: 0.5em;
    }
    .report {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8125em;
        color: #666666;
    }
    hr {
        border: 0.1em dotted #c2c2c2;
    }

    /*Clients says END*/

    /*Map*/
    .map {
        width: 100%;
        height: 335px;
        top: 2870px;
        left: 0;
        right: 0;
        margin: 0;
        position: absolute;
        background-color: white;
    }
    .contacts {
        width: 50%;
        height: 335px;
        left: 12.71%;
        position: relative;
        float: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        color: #666666;
        padding: 35px 0 0 0;
        line-height: 30px;
    }
    .flag {
        display: inline-block;
    }
    .flag:before {
        content: url("images/flag.png");
        margin: 50px 59px 0 0;
    }
    .phone:before {
        content: url("images/phone.png");
        margin: 50px 65px 0 0;
    }
    .mail:before {
        content: url("images/mail.png");
        margin: 50px 65px 0 0;
    }
    .empty_icon {
        margin-left: 89px;
    }
    #map-canvas {
        width: 50%;
        height: 335px;
        background-color: #CCC;
        position: relative;
        float: left;
    }
    .map img {
        margin-right: 23px;
    }
    /*Map END*/

    /*Footer*/
    footer {
        width: 100%;
        height: 104px;
        top: 3205px;
        left: 0;
        right: 0;
        position: absolute;
        background-color: #3070a8;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em;
    }
    .footer_normal {
        color: white;
    }
    span.footer_bold {
        color: white;
        font-weight: 900;
    }
    .footer_bold_grey {
        font-weight: 900;
        color: #26435d;
    }
    /*Footer END*/
}

/*--------------------------Print------------------------------*/
@media print {
    body {
        background: none;
        width: 100%;
        height: 2000px;
    }
    header {
        width: 100%;
        height: 116px;
        top: 0;
        margin: 0 auto;
        left: 0;
        position: absolute;
        background-color: white;
    }
    /*Logo*/
    .logo {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        font-family: 'Futura BT Book', sans-serif;
        text-aligh: center;
    }

    .company {
        color: #ee8129;
        font-size: 1.5em;
    }

    .name {
        color: #3070a8;
        font-size: 1.5em;
        font-weight: bolder;
    }

    /*Menu*/
    nav {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    /*Banner*/
    .banner {
        width: 100%;
        height: 585px;
        top: 116px;
        left: 0;
        margin: 0;
        position: absolute;
        text-align: center;
        background: none;
        color: black;
    }

    .banner1 {
        font-family: 'Futura BT Book', sans-serif;
        font-size: 1.5em;
        display: inline-block;
        position: absolute;
        z-index: 10;
        width: 100%;
        margin: 0;
        left: 0;
    }

    .banner2 {
        font-family: 'Futura BT Book', sans-serif;
        font-size: 1.5em;
        display: inline-block;
        position: absolute;
        z-index: 10;
        width: 100%;
        margin: 45px 0 0 0;
        left: 0;
    }

    .banner3 {
        font-family: Calibry, sans-serif;
        font-style: italic;
        font-size: 1em;
        display: inline-block;
        position: absolute;
        z-index: 10;
        width: 100%;
        margin: 140px 0 0 0;
        left: 0;
    }

    .button a {
        visibility: hidden;
    }
    /*Banner END*/

    /*Services*/
    .services {
        width: 100%;
        height: 566px;
        top: 300px;
        left: 0;
        margin: 0;
        position: absolute;
        background: none;
    }

    .services_container {
        position: absolute;
        left: 13.65%;
        right: 13.65%;
    }

    .services_name {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 1.875em;
        color: #41525c;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin: 67px 0 0 0;
    }

    span.services {
        display: inline-block;
    }

    .services_property {
        width: 33.33%;
        float: left;
        left: 13.65%;
        text-align: center;
        margin: 77px 0 0 0;
    }
    .property_name {
        font-family: 'Futura BT Book', sans-serif;
        font-size: 1.875em;
        color: #3070a8;
    }
    .property_description {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
        color: #999999;
        display: inline-block;
        width: 200px;
        height: 200px;
    }
    /*Services END*/

    /*Middle section*/
    .middle_section {
        width: 100%;
        height: 581px;
        top: 750px;
        left: 0;
        margin: 0;
        position: absolute;
        background-color: #d0d0d0;
        background: none;
    }
    .line_big_orange {
        font-family: 'Futura BT Book', sans-serif;
        font-size: 1.625em;
        line-height: 1.846em;
        text-transform: uppercase;
        color: #ee8129;
        margin-top: 87px;
        display: inline-block;
        position: absolute;
        left: 12.71%;
    }

    .line_italic_white {
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 1.1875em;
        line-height: 1.579em;
        color: #ffffff;
        margin-top: 175px;
        display: inline-block;
        position: absolute;
        left: 12.71%;
        padding: 0;
        color: black;
    }

    .line_small_grey1,
    .line_small_grey2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        line-height: 2.143em;
        color: #9d9d9d;
    }

    .middle_section_list {
        display: inline-block;
        position: absolute;
        margin-top: 220px;
        height: 300px;
        width: 100%;
        left: 12.71%;
    }

    .line_small_blue {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        line-height: 2.143em;
        color: #2c5c86;
    }

    /*Middle section END*/

    /*Pricing*/
    .pricing {
        width: 100%;
        height: 710px;
        top: 1348px;
        left: 0;
        margin: 0;
        position: absolute;
        background: none;
    }
    .pricing_name {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 1.875em;
        color: #41525c;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin: 67px 0 0 0;
    }
    .posters {
        width: 885px;
        height: 350px;
        position: absolute;
        left: 9%;
        right: 9%;
        top: 172px;
    }
    .poster_container1,
    .poster_container3 {
        width: 289px;
        height: 439px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(90, 90, 90, 0.56);
        float: left;
        margin: 10px 1px 10px 1px;
        background: none;
    }

    .poster_container2 {
        border: solid #e06b1a 3px;
        border-radius: 10px;
        margin: 0;
        width: 295px;
        height: 445px;
        z-index: 10;
        float: left;
        background: none;
    }

    .poster_header1 {
        background-color: #63d0e7;
    }

    .poster_header2 {
        background-color: #ee8129;
    }

    .poster_header3 {
        background-color: #4ad496;
    }

    .poster_header1,
    .poster_header2,
    .poster_header3 {
        font-family: "Trebuchet MS", sans-serif;
        height: 36px;
        border-radius: 6px 6px 0 0;
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
    }

    .poster_body {
        font-family: 'Futura BT Book', sans-serif;
        font-size: 1.5em;
        height: 90px;
        text-align: center;
        padding: 7px 0 0 0;
        color: #6d6d6d;
    }

    span.price {
        font-size: 3em;
        font-weight: bolder;
    }

    sup {
        display: inline-block;
        position: absolute;
        font-weight: bold;
    }

    .poster_body p {
        display: inline-block;
        height: 55px;
        margin: 10px 0 0 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        list-style-type: none;
    }

    .poster_menu {
        margin: auto;
        width: 255px;
        padding: 0;
    }

    .service_list {
        padding-left: 0;
        margin-top: 50px;
    }

    .service_list li {
        font-family: Calibry, sans-serif;
        display: block;
        font-size: 0.9375em;
        font-weight: bold;
        width: auto;
        height: 31px;
        padding: 5px 0 0 24px;
        margin-top: 1px;
    }

    .service_listli:before {
        content: url("images/galochka.png");
    }

    .service_list li:nth-of-type(2n) {
        background: #f5f5f5;
    }

    .service_list li:nth-of-type(2n+1) {
        background: rgba(204, 228, 250, 0.42);
    }

    .service_list li a {
        color: #999999;
    }

    .poster_button1, .poster_button3 {
        background-color: #407cb3;
        border-bottom: solid #294164 2px;
    }

    .poster_button2 {
        background-color: #ee6d1a;
        border-bottom: solid #a54e28 2px;
    }

    .poster_button1,
    .poster_button2,
    .poster_button3 {
        font-family: 'Open Sans', sans-serif;
        margin: auto;
        width: 251px;
        height: 31px;
        text-align: center;
        padding-top: 5px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
    }

    .poster_button1 a,
    .poster_button2 a,
    .poster_button3 a {
        color: white;
        width: 251px;
        height: 17px;
        display: block;
        padding: 2px 0 5px 0;
    }

    /*Pricing END*/

    /*Clients says*/
    .clients_says {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    /*Map*/
    .map {
        width: 100%;
        height: 335px;
        top: 2100px;
        left: 0;
        right: 0;
        margin: 0;
        position: absolute;
        background-color: white;
    }
    .contacts {
        width: 50%;
        height: 335px;
        left: 12.71%;
        position: relative;
        float: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875em;
        color: #666666;
        padding: 35px 0 0 0;
        line-height: 30px;
    }
    .flag {
        display: inline-block;
    }
    .flag:before {
        content: url("images/flag.png");
        margin: 50px 59px 0 0;
    }
    .phone:before {
        content: url("images/phone.png");
        margin: 50px 65px 0 0;
    }
    .mail:before {
        content: url("images/mail.png");
        margin: 50px 65px 0 0;
    }
    .empty_icon {
        margin-left: 89px;
    }
    #map-canvas {
        width: 50%;
        height: 335px;
        background-color: #CCC;
        position: relative;
        float: left;
    }
    .map img {
        margin-right: 23px;
    }
    /*Map END*/

    /*Footer*/
    footer {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}




