.poster {
    width: 858px;
    height: 193px;
    background-image: url("images/bg.jpg");
    margin: auto;
    position: relative;
    font-family: 'Oswald', sans-serif;
}
.question {
    display: inline-block;
    width: 858px;
    margin: auto;
}
p {
    display: block;
    position: relative;
    text-align: center;
}
.orange {
    color: #ff901c;
    font-size: 26px;
}
.blue {
    color: #3a699a;
    font-size: 26px;
}
.foto {
    float: left;
    margin: 5px 0 5px 20px;
    width: 70px;
    height: 70px;
}
.triangle {
    width: 0;
    height: 0;
    border-right: solid aliceblue 14px;
    border-top: solid transparent 10px;
    border-left: solid transparent 4px;
    border-bottom: solid transparent 10px;
    position: relative;
    float: left;
    margin: 29px 0 0 0;
}
.comment {
    background-color: aliceblue;
    margin: 5px 5px 5px 0;
    font-size: 11px;
    float: left;
    width: 280px;
    height: 50px;
    padding: 10px;
}
.name {
    font-style: italic;
    color: #3a699a;
    font-weight: bold;
    font-size: 10px;
}
.empty {
    color: aliceblue;
    letter-spacing: 6px;
}
.report {
    font-size: 9px;
    color: grey;
}
hr {
    border: 0.1em dotted #c2c2c2;
}
