@font-face {
    font-family: "trebuchet_regular";
    src: url("fonts/trebuchet_regular.ttf");
}

@font-face {
    font-family: "trebuchet_bold";
    src: url("fonts/trebuchet_bold.ttf");
}

.wrapper{
	width: 327px;
	height: 514px;
	background-color: #EE8129;
	border-radius: 5px;
	position: absolute;
	border: 2 px solid #EE8129;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-family: trebuchet_regular;
}

h1{
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	padding-top: 7px;
}

.information{
	width: 318px;
	background-color: #FFFFFF;
	position: relative;
	top:-3px;
	height: 426px;
	margin-left: auto;
	margin-right: auto;
}

.iconic{
	display: block;
	text-transform: uppercase;
	text-align: center;
	padding-top: 23px;
	padding-bottom: 26px;
	font-size: 25px;
	color:#35495A;
}

.ye{
	font-size: 24px;
	display: inline-block;
	padding-left: 70px;
	vertical-align: top;
	color:#35495A;
}

.price{
	font-size: 77px;
	font-weight: bold;
	vertical-align: bottom;
	color:#35495A;
}

table{
	width: 258px;
	height: 138px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	color:#8D9098;
}

tr:nth-child(odd){
	background-color: #EDF5FD;
	background-image: url(IMG/icon.png);
	background-repeat: no-repeat;
	background-position: 39px;
	background-size: 20px;
}

tr:nth-child(even){
	background-color: #F5F5F6;
	background-image: url(IMG/icon.png);
	background-repeat: no-repeat;
	background-position: 39px;
	background-size: 20px;
}

td{
	padding-left: 69px;
}
.button{
	width: 258px;
	height:38px;
	background-color: #EE8129;
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
	border-bottom:2px solid #AD4800;
	font-family: trebuchet_bold;
}

.month{
	font-family: trebuchet_regular;
	color:#35495A;
}
