div {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
span {
    color: white;
    border-radius: 7px;
    display: inline-block;
    width: 70px;
    text-align: center;
}
label {
    display: inline-block;
    width: 70px;
    text-align: center;
}
span[class=red] {
    background-color: red;
}
span[class=green] {
    background-color: green;
}
span[class=blue] {
    background-color: blue;
}
label {
    text-decoration: underline;
}
label[for=red] {
    color: red;
}
label[for=green] {
    color: green;
}
label[for=blue] {
    color: blue;
}
input:checked[id=red]~span[class=red] {
    background-color: white;
    width: 0;
}
input:checked[id=red]~label[for=red] {
    opacity: 0.2;
}
input:checked[id=green]~span[class=green] {
    background-color: white;
    width: 0;
}
input:checked[id=green]~label[for=green] {
    opacity: 0.2;
}
input:checked[id=blue]~span[class=blue] {
    background-color: white;
    width: 0;
}
input:checked[id=blue]~label[for=blue] {
    opacity: 0.2;
}
input {
    width: 0;
    margin: 0;
    visibility: hidden;
}

