#container {
    width: 90px;
    height: 50px;
    position: absolute;
}

.puzzle {
    height: 50px;
    margin: 0;
    padding: 0;
    border: solid darkgray 2px;
    border-radius: 3px;
    position: absolute;
}
input {
    width: auto;
    height: 35px;
    background-color: #95dd29;
    font-size: 15px;
    color: #4b4b4b;
    font-weight: bold;
    text-shadow: 1px 1px 1px #888888;
    border: solid #888888 2px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #cfcfcf;
    padding: 0 20px 0 20px;
    margin: 10px 0 20px 0;
}
