#columns {
    width: 650px;
    height: 500px;
    text-align: center;
}
.header {
    width: 100%;
    height: 50px;
    outline: solid red 1px;
}
.menu {
    width: 19.5%;
    height: 392px;
    outline: solid green 1px;
    margin: 3px 3px 0 0;
    float: left;
}
.content {
    width: 60%;
    height: 392px;
    outline: solid blue 1px;
    margin: 3px 3px 3px 0;
    float: left;
}
.call_to_action {
    width: 19.5%;
    height: 392px;
    outline: solid green 1px;
    margin: 3px 0 3px 0;
    float: left;
}
.footer {
    width: 100%;
    height: 50px;
    outline: solid red 1px;
    float: left;
}
