.figure {
    width: 0;
    height: 0;
    border-right: solid transparent 100px;
    border-left: solid transparent 100px;
    border-bottom: solid green 150px;
}
.figure:after {
    content: 'green triangle';
    font-size: 30px;
    position: absolute;
    margin: 50px 0 0 -80px;
}