.menu{
	height: 40px;
	width: 100%;
	background-color: #A64DFF;
	border:2px solid #B672FB;
	margin:0;
	padding:0;
}
.button{
	height: 40px;
	width: 130px;
	display: inline-block;
	margin: 20px;
	padding-right: 5px;
	color:white;
	font-family: Impact;
	text-align: center;
	vertical-align: middle;
	margin-top: 0px;
	padding-top: 10px;
}

.button:hover{
	background-color: #EEEEEE;
	color:#9F9FA5;
	height: 30px;
	width: 125px;
	border:1px solid #A64DFF;
	border-radius: 10px;
}