.figure {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
}
.figure:after {
    content: 'yellow circle';
    font-size: 30px;
    position: absolute;
    margin: 60px 0 0 30px;
}