.arrow{
	width: 565px;
	height: 60px;
	background-color: #ffcc66;
	position: relative;
	margin-left: 7px;
	transition: width 1s;
}

.arrow:after{
	content: ''; 
    position: absolute; 
    right: -58px; 
    bottom: -1px; 
    border: 30px solid transparent; 
    border-left: 28px solid #ffcc66; 
}

textarea{
	width: 520px;
	height: 20px;
	margin-top: 7px;
	margin-left: 4px;
	transition: width 1s;
}

.arrow:hover textarea{
	width: 90%;
}

.arrow:hover{
	width: 100%;
}
