/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "HelveticaRegular", Arial;
    background-color: #ffffff;
    box-sizing: border-box;
    width: auto;
    max-width: 1920px;
}
.picture img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.wrapper {
    width: auto;
    max-width: 990px;
    margin: 0 auto;
    position: relative;
}
/*header*/
#header {
    width: 100%;
    height: 76px;
    background-color: #3498db;
}
.logo {
    width: 285px;
    height: 76px;
    float:left;
    line-height:76px;
}
.logo_img {
    vertical-align: middle;
}
.logo_text {
    text-transform: uppercase;
    font-size:26px;
    text-align: left;
    color: #ffffff;
    padding-left: 10px;
    vertical-align: top;
}
.connect {
    font-size:13px;
    text-align: left;
    color: #ffffff;
    line-height: 80px;
    float:left;
    padding-right: 10px;

}
.social_buttons {
    float: right;
    line-height: 76px;
}
.social_buttons img {
    vertical-align: middle;
}
/*banner_top*/
#banner_top {
    width: 100%;
    height: 350px;
    background: url(../img/banner_top.jpg);
}

.banner_top_welcome {
    font-family: "HelveticaBold", Arial;
    text-transform: uppercase;
    font-size: 50px;
    color: #ffffff;
    display: block;
    padding-top: 75px;
}
#banner_top p {
    width: 550px;
    height: 100px;
    font-size: 30px;
    color: #ffffff;
}
/*form*/
#form_top {
    width: 360px;
    height: 536px;
    background-color: #ffffff;
    position: absolute;
    top: -319px;
    right: 0;
    border-bottom: 4px solid #3498db;
    text-align: center;
    z-index:10;
}

#form_top .form_name {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 55px;
    text-align: center;
    padding-top: 30px;

}
#form_top input, textarea {
    width: 300px;
    height: 35px;
    font-size: 15px;
    padding-left: 15px;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
#form_top textarea {
    font-family: "HelveticaRegular", Arial;
    font-size: 15px;
    height: 75px;
    padding-top: 10px;
}
#form_top input[type="submit"] {
    width: 220px;
    height: 50px;
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    background-color: #e74c3c;
}
#form_top input[type="submit"]:hover {
    background-color: #8B0000;
}
.down_arrow {
    position: absolute;
    transform: rotate(90deg);
    font-size: 60px;
    top: 40px;
    right: 30px;
}
/*second_block*/
#second_block {
    margin-top: -20px;
    width: 100%;
    height: 250px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e9e9e9;
}
.information_block {
    width: 580px;
    height: 110px;
}
.information_block h2 {
    font-family: "HelveticaBold", Arial;
    font-size: 15px;
    vertical-align: 42px;
    padding-top: 35px;
}
.information_block p {
    font-size: 13px;
    vertical-align: 20px;
    padding-bottom: 25px;
}

/*third - adblock*/
#adblock {
    border-bottom: 1px solid #f2f2f2;
    height: 530px;
}
#adblock h2 {
    text-transform: uppercase;
    font-size: 25px;
    vertical-align: 42px;
    color: #3498db;
    padding-top: 35px;
}
.adblock_photo {
    width: 100%;
    padding-top: 35px;
}
.adblock_photo h3 {
    font-family: "HelveticaBold", Arial;
    text-transform: uppercase;
    font-size: 15px;
    vertical-align: 42px;
}
.adblock_photo p {
    font-size: 13px;
    vertical-align: 20px;
    padding-bottom: 20px;
}
.small_adblock1, .small_adblock2, .small_adblock3 {
    width: 293px;
    text-align: center;
    display: inline-block;
    margin-right: 37px;
}
.small_adblock3 {
    margin-right: 0;
}
.view {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #ececec;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #333333;
    border-radius: 25px;
}
.view:hover {
    background-color: #e74c3c;
    font-weight: bold;
}
/*fourth block*/
#fourth_block {
    width: 100%;
    height: 260px;
}
.fourth_block_header {
    padding-top: 40px;
}
.fourth_block_header_text {
    text-transform: uppercase;
    font-size: 25px;
    vertical-align: 42px;
    color: #3498db;
    float: left;
}
.fourth_block_header_arrows {
    float:right;
}
.fourth_block_header_arrow_right, .fourth_block_header_arrow_left  {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    line-height: 28px;
    text-align: center;
    font-size: 50px;
    border-radius: 18px;
    display: inline-block;
    margin-right: 3px;
}

.fourth_block_header_arrow_left a, .fourth_block_header_arrow_right a {
    text-decoration: none;
    color: #888888;
}

.fourth_block_header_arrow_left:hover, .fourth_block_header_arrow_right:hover {
    background-color: #f2f2f2;
}
.fourth_block_header_arrow_left a:hover, .fourth_block_header_arrow_right a:hover {
    color: #333333;
}
.fourth_block_text {
    width:740px;

    font-size: 13px;
    vertical-align: 20px;
}
.fourth_block_text::before{
    content: open-quote;
    font-family: "HelveticaBold", Arial;
    font-size: 50px;
    color: #f2f2f2;
}
.fourth_block_text::after{
    content: close-quote;
    font-family: "HelveticaBold", Arial;
    font-size: 50px;
    color: #f2f2f2;
    float: right;
    margin-top: -10px;
}
.fourth_block_text p{
    margin-top: -10px;
}
.fourth_block_author {
    font-family: "HelveticaBold", Arial;
    text-transform: uppercase;
    font-size: 13px;
    vertical-align: 42px;
    text-align: right;
    padding-top: 10px;
}
/*fifth block*/
#fifth_block {
    width: 100%;
    height: 190px;
    background-color: #f2f2f2;
}
#fifth_block button {
    position: relative;
    width: 540px;
    height: 55px;
    background-color: #e74c3c;
    margin-top: 70px;
}
#fifth_block button:hover {
    background-color: #8B0000;
}
#fifth_block button span {
    text-transform: uppercase;
    font-size: 25px;
    color: #ffffff;
    vertical-align:middle;
}
#fifth_block button span, .right_arrow {
    display: inline-block;
}
.right_arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    line-height: 25px;
    text-align: center;
    font-size: 35px;
    border-radius: 15px;
    color: #ffffff;
    vertical-align: middle;
    margin-left: 15px;
}
/*footer*/
#footer {
    width: 100%;
    height: 190px;
    background-color: #3498db;
}
.footer_logo {
    width: 255px;
    height: 190px;
    float:left;
}

.footer_logo_img {
    margin-top: 50px;
}
.footer_logo_text {
    text-transform: uppercase;
    font-size: 26px;
    text-align: left;
    color: #ffffff;
    padding-left: 10px;
    vertical-align: top;
    display: inline-block;
    margin-top: 60px;
    padding-right: 10px;
    background: url("../img/vertical_line.jpg") no-repeat right;
}
.footer_connect {
    font-size:13px;
    text-align: left;
    color: #ffffff;
    float: left;
    margin-left: 20px;
    margin-top: 65px;
    margin-right: 7px;

}
.footer_social_buttons {
    padding-top: 60px;
}
.footer_social_buttons img {
    vertical-align: middle;
}
.copyrights {
    display: inline-block;
    width: auto;
    font-size:13px;
    text-align: left;
    color: #ffffff;
    margin-top: 10px;
    padding-left: 20px;
}
.man_photo {
    position: absolute;
    top:-364px;
    right: 25px;
    z-index: 10;
}
/*tablets*/
@media (max-width: 999px) {
    body {
        max-width: 999px;
    }
    .wrapper {
        max-width: 758px;
    }
    /*header*/
    #header {
        height: 80px;
    }
    .logo {
        height: 80px;
        line-height:80px;
    }
    /*banner_top*/
    .banner_top_welcome {
        font-size: 45px;
        padding-top: 90px;
    }
    #banner_top p {
        width: 380px;
        font-size: 25px;
    }
    /*form*/
    #form_top {
        width: 340px;
        top: -319px;
    }
    #form_top .form_name {
        font-size: 20px;
        padding-top: 35px;
    }
    #form_top input[type="submit"] {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
    /*second_block*/
    .information_block {
        width: 385px;
        height: 190px;
    }
    .information_block h2 {
        padding-top: 25px;
    }
    /*third - adblock*/
    #adblock {
        height: 715px;
    }
    #adblock h2 {
        font-size: 20px;
        padding-top: 40px;
    }
    .small_adblock1, .small_adblock2, .small_adblock3 {
        width: auto;
        display: block;
        text-align: left;
    }
    .small_adblock1 img, .small_adblock2 img, .small_adblock3 img {
        float:left;
        margin-right: 20px;
    }
    /*fourth block*/
    .fourth_block_header {
        padding-top: 45px;
    }
    .fourth_block_header_text {
        font-size: 20px;
    }
    .fourth_block_header_arrow_right, .fourth_block_header_arrow_left  {
       margin-right: 0;
    }
    .fourth_block_header_arrow_right, .fourth_block_header_arrow_left {
        float: none;
    }

    .fourth_block_text {
        width:535px;
    }
    /*fifth block*/
    #fifth_block button {
        width: 440px;
    }
    #fifth_block button span {
        font-size: 20px;
    }
    /*footer*/
    .copyrights {
        width: 60%;
    }
    .man_photo {
        right: 0;
    }
}
/*mobile*/
@media (max-width: 799px) {
    body {
        max-width: 799px;
    }
    .wrapper {
        max-width: 320px;
    }
    /*header*/
    #header {
        height: 160px;
    }
    .logo {
        width: 100%;
        height: auto;
        line-height: normal;
        text-align: center;
    }
    .logo_img {
        vertical-align: top;
        padding-top: 15px;
    }
    .logo_text {
        display: block;
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
    }
    .connect {
        text-align: center;
        line-height: normal;
        padding-left: 90px;
        padding-top: 15px;
    }
    .social_buttons {
        width: 100%;
        float: right;
        line-height: 40px;
        vertical-align: middle;
    }
    /*banner_top*/
    #banner_top {
        text-align: center;
    }
    .banner_top_welcome {
        font-size: 40px;
        padding-top: 40px;
    }
    #banner_top p {
        width: 100%;
        height: auto;
        font-size: 16px;
    }
    /*form*/
    #form_top {
        width: 300px;
        margin: 0 auto;
        position: absolute;
        top: -160px;
    }

    #form_top .form_name {
        font-size: 20px;
    }
    #form_top input, textarea {
        width: 260px;
    }
    #form_top input[type="submit"] {
        width: 200px;
        font-size: 20px;
    }
    /*second_block*/
    #second_block {
        height: 680px;
        text-align: center;
    }
    .information_block {
        width: 100%;
        height: auto;
    }
    .information_block h2 {
        padding-top: 415px;
    }
    .information_block p {
        padding-bottom: 40px;
    }

    /*third - adblock*/
    #adblock {
        width: 100%;
        height: 1425px;
        text-align: center;
    }
    #adblock h2 {
        font-size: 20px;
    }
    .adblock_photo {
        width: 100%;
        padding-top: 10px;
    }
    .adblock_photo p {
       padding-bottom: 10px;
    }
    .small_adblock1, .small_adblock2, .small_adblock3 {
        width: 100%;
        text-align: center;
        display: block;
        margin-right: 0;
        padding-bottom: 10px;
    }
    .small_adblock1 img, .small_adblock2 img, .small_adblock3 img {
        width: 100%;
        padding-bottom: 40px;
    }

    /*fourth block*/
    #fourth_block {
        height: 500px;
        text-align: center;
    }
    .fourth_block_header_text {
        display: block;
        width: 100%;
        font-size: 20px;
    }
    .fourth_block_text {
        width:100%;
        text-align: left;
        padding-top: 40px;
    }

    .fourth_block_header_arrow_right, .fourth_block_header_arrow_left  {
        float: none;
    }
    /*fifth block*/
    #fifth_block {
        height: 240px;
        text-align: center;
    }
    #fifth_block button {
        width: 300px;
        height: 130px;
        margin-top: 60px;
        z-index: 30;
    }
    #fifth_block button span {
        font-size: 20px;
    }
    /*footer*/
    #footer {
        height: 315px;
        text-align: center;
    }
    .footer_logo {
        width: 100%;
        height: auto;
        line-height: normal;
        text-align: center;
    }
    .footer_logo_img {
        margin-top: 30px;
    }
    .footer_logo_text {
        display: block;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        background: none;
    }
    .footer_connect {
     margin-top: 20px;
        margin-left: 90px;
    }
    .footer_social_buttons {
        width: 100%;
        float: none;
        line-height: 50px;
        vertical-align: middle;
        text-align: left;
    }
    .copyrights {
        width: 70%;
        text-align: center;
    }
    .man_photo {
        position: absolute;
        top:-364px;
        right: 25px;
        z-index: 10;
    }
}

