.search {
    width: 550px;
    height: 55px;
    background: linear-gradient(to right, #ffe351, #ffbd40);
    position: absolute;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
#text {
    width: 450px;
    box-shadow: -1px -1px 1px #a3a3a3;
    position: relative;
    float: left;
    margin: 5px 5px 0 5px;
}
#button {
    position: relative;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.search:after {
    content: ".";
    color: white;
    width: 0;
    height: 0;
    border-left: solid #FFBD40 12px;
    border-top: solid transparent 26px;
    border-right: solid transparent 12px;
    border-bottom: solid transparent 26px;
    position: absolute;
    left: 550px;
    top: 2px;
}
label {
    margin: 0 5px 10px 5px;
    border-bottom: dotted #000000 2px;
}
span {
    margin-left: 5px;
}
.search:hover {
    width: 600px;
}
.search:hover:after {
    content: ".";
    color: white;
    width: 0;
    height: 0;
    border-left: solid #FFBD40 12px;
    border-top: solid transparent 26px;
    border-right: solid transparent 12px;
    border-bottom: solid transparent 26px;
    position: absolute;
    left: 600px;
    top: 2px;
}