table {
    font-family: Verdana;
    width: 700px;
    height: 600px;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 2px 2px 2px #b1b1b1;
}
th {
    color: white;
    background: white;
    border: solid white 3px;
}
thead {
    color: white;
    background: #2e2e2e;
    font-size: 20px;
    font-weight: bold;
    border-top: solid grey 3px;
}
tbody {
    background: rgba(190, 190, 190, 0.56);
}
.first_column {
    text-align: right;
    font-weight: bold;
    background: rgba(88, 0, 244, 0.03);
    border: none;
    padding-right: 7px;
}
.first_column_price {
    border-right: none;
    border-bottom: solid white 3px;
    background: white;
    color: #b1b1b1;
    box-shadow: none;
}
tfoot {
    color: orange;
    background: #2e2e2e;
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid grey 3px;
}
td {
    border-right: dotted silver 1px;
}
td:last-child {
    border-right: none;
}
