@import url(http://fonts.googleapis.com/css?family=Lato);
body {
    background: #f6f9f9;
    margin: 0;
}

.header-gallery,
.sub-header-gallery {
    text-align: center;
    color: #909090;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.header-gallery {
    padding-top: 45px;
    font-size: 41px;
}

.sub-header-gallery {
    font-size: 15px;
    margin-top: 20px;
}

.gallery {
    text-align: center;
    margin: auto;
    margin-top: 80px;
    max-width: 1170px;
    width: 100%;
    min-height: 550px;
    height: 100%;
}

.dark_monitor {
    position: absolute;
    width: 100%;
    height: 792px;
    top: 0;
    left: 0;
    background-image: url(img/background.png);
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1;
}

.show-big-photo {
    display: none;
    position: absolute;
    margin-left: -586px;
    left: 50%;
    width: 1140px;
    height: 550px;
    z-index: 2;
    border: 3px solid #999;
    border-radius: 4px;
}

.close {
    position: absolute;
    z-index: 3;
    height: 40px;
    width: 40px;
    background: #25a6f7;
    right: 0;
    margin-right: 17px;
    margin-top: -23px;
    background-image: url(img/icons/close.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all 0.2s;
}

.close:hover {
    background: #f74c26;
    background-image: url(img/icons/close.png);
    background-repeat: no-repeat;
    background-position: center;
}

.background {
    width: 360px;
    height: 260px;
    display: inline-block;
    margin: 0 26px 26px 0px;
    border-radius: 2px;
    transition: all 0.3s;
}

.background._1 {
    background-image: url(img/small/1.jpg);
}

.background._2 {
    background-image: url(img/small/2.jpg);
}

.background._3 {
    background-image: url(img/small/3.jpg);
}

.background._4 {
    background-image: url(img/small/4.jpg);
}

.background._5 {
    background-image: url(img/small/5.jpg);
}

.background._6 {
    background-image: url(img/small/6.jpg);
}

.background.hover_1:hover,
.background.hover_2:hover,
.background.hover_3:hover,
.background.hover_4:hover,
.background.hover_5:hover,
.background.hover_6:hover {
    background: rgba(37, 166, 247, 0.75);
    cursor: pointer;
}

.position-buttons {
    height: 42px;
    width: 94px;
    margin-top: 31%;
    margin-left: 25%;
    position: relative;
    visibility: hidden;
}

.background:hover .position-buttons {
    visibility: visible;
}

.position-buttons button {
    padding: 0;
    border: 1px solid #fff;
    position: absolute;
    width: 42px;
    height: 42px;
    outline: none;
    background: rgb(37, 166, 247);
    border-radius: 3px;
    cursor: pointer;
}

.link {
    margin-left: 52px;
}

.icon {
    position: absolute;
    margin: -16% 0 0 -15%;
}

.position-buttons button:hover {
    opacity: 0.70;
}
